@media screen and (max-width: 767px) {
    .wrapper .box {
        width: 100%;
    }

    .box {
        margin-bottom: 25px;
    }

    .mdl-dialog {
        width: 87% !important;
        margin-top: 74px;
        top: 0px;
    }
}

@media screen and (max-width: 736px) {
    .veiculobox {
        width: 100% !important;
        max-width: 93% !important;
    }
    .detalhes {
        width: 100% !important;
        max-width: 93% !important;
    }
    #busca {
        width: 53%;
    }
}

@media screen and (max-width: 360px) {
    .botao {
        width: 125px;
    }
}